
/* General Reset */
body, h1, p {
    margin: 0;
    padding: 0;
    /*font-family: Arial, sans-serif; */
    font-family: Verdana, sans-serif;
    font-family: georgia, 'times new roman', times, serif;
    line-height: 1.6;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    max-width: 100%;
}

.grid-item p {
    margin-top: 10px;
}