h1 {
    font-size: x-large;
}

p {
    font-size: 14pt
}

body,
div,
p,
td,
th,
ul,
ol,
li {
    margin: 10;
    padding: 10;
}

ul li {
    font-size: 14pt;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-size:100%;*/
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

nav ul ul {
    display: none;
}

nav ul li:hover>ul {
    display: block;
}

nav ul:after {
    clear: both;
    display: block;
}

nav ul li {
    float: left;
    color: rgb(26, 182, 122);
    position: relative;
    list-style-type: none;
    font-family: sans-serif;
    font-size: large;
}

nav ul li:hover a {
    color: rgb(17, 60, 204);
    font-family: sans-serif;
    font-size: 16pt;
}

nav ul li a {
    display: block;
    padding: 20px 30px;
    color: #080101;
    text-decoration: none;
    background-color: rgb(220, 226, 231);
    font-family: sans-serif;
    font-size: 14pt;
}

nav ul ul {
    background: #7095c2;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none;
    position: relative;
    color: rgb(26, 182, 122);
    font-family: sans-serif;
    font-size: large;
}

nav ul ul li a:hover {
    background: rgb(92, 129, 165);
}

.address p {
    font-size: 10pt;
    padding: 0;
}

.cols {
    text-align: center;
}

.col1 {
    float: left;
    width: 34%;
    text-align: center;
    margin-top: 10px;
}

.col2 {
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 10px;
    color: #1f0b0b;
}

.col3 {
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 90px;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .col1,
    .col2,
    .col3 {
        width: 100%;
    }
}