*.pyo
*.pyc
.DS_strore/*
*/.DS_store/*
Saturday_Abhidhamma_Lesson/notes.txt
Saturday_Abhidhamma_Lesson/46. Vibhanga_Pakarana_1.pdf
Saturday_Abhidhamma_Lesson/47. Vibhanga_Pakarana_2.pdf
build_upul
testing/*
cc/ex/*