<html>

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-B9ZTNLS3FQ"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-B9ZTNLS3FQ');
	</script>

	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="/css/nav_menu.css">
	<link rel="stylesheet" type="text/css" href="/css/style_brown.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- DataTables CSS -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@300;400;600&display=swap"
		rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;700&display=swap" rel="stylesheet">
	
	<!-- jQuery and DataTables JS -->
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	
	<script src="/scripts/nav_function.js"></script>

	<title>$TITLE_VIDEO_LIST$</title>
</head>

<body>

	$NAVIGATION_HEADER$


	<header>
		<h1>$TITLE_VIDEO_LIST$</h1>
	</header>
	<div class="container">
		<p>$PROCESS_TIME$</p>


		<br>


		<table id="videosTable" class="display" style="width:100%; padding: 10px;">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Title</th>
					<th>&nbsp; Posted on</th>
					<th>&nbsp;&nbsp;&nbsp;Duration</th>
				</tr>
			</thead>
			<tbody>
$TABLE_CONTENT$
			</tbody>
		</table>
	</div>

	<script>
		$(document).ready(function() {
			$('#videosTable').DataTable({
				"pageLength": 50,
				"lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]], // Menu options
				"order": [], // Disable initial sorting to keep the generated order
				"language": {
					"search": "සොයන්න (Search):",
					"lengthMenu": "පිටුවකට _MENU_ දේශනා පෙන්වන්න",
					"info": "දේශනා _TOTAL_ කින් _START_ සිට _END_ දක්වා පෙන්වයි",
					"paginate": {
						"first": "පළමු",
						"last": "අවසන්",
						"next": "ඊළඟ",
						"previous": "පෙර"
					}
				}
			});
		});
	</script>
</body>

</html>