<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=GT-MBNDJTD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'GT-MBNDJTD');
    </script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/css/index_page_style_green.css">
    <link rel="stylesheet" type="text/css" href="/css/nav_menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/nav_function.js"></script>
    <title>Way to Nibbana - අජන්ත සම්පත් ගුරුතුමන් ගේ දේශනා මාලා</title>
</head>
<body> $NAVIGATION_HEADER$ <div class="container">
        <div class="hero-section">
            <p>වසර පහළොවකට අධික කාලයක් මුළුල්ලේ සිට දස දහසක් පිරිසකගේ දහම් ඇස පාදා ගැනීමට උරදුන් කල්‍යාණ මිත්‍ර පින්වත්</p>
            <h1>ගරු අජන්ත සම්පත් ගුරුතුමා</h1>
            <p>මෙහෙයවන</p>
            <h1>නිවන් මග උදෙසා දර්ශන ඥානය</h1>
            <h2>සදහම් දේශනා සහ සාකච්ඡා මාලා</h2>
            <h4>Way to Nibbana - Dhamma Sermon and Discussion Series</h4>
            <p>conducted by</p>
            <h3>Honourable Ajantha Sampath Guruthuma</h3>
        </div>
        <div class="notice-box"> $NOTICE_BOX_CONTENT$ </div>
        <div class="section-header">
            <h2>දැනට පැවැත්වෙන සදහම් දේශනා</h2>
        </div>
        <div class="card-container"> $CURRENT_SERIES_CARDS$ </div>
        <div class="zoom-info"> $ZOOM_INFO_BLOCK$ </div>
        <div class="section-header">
            <h2>චිත්ත සහ චෛතසික චක්‍රය සහ දේශනා සඳහා සටහන්</h2>
        </div>
        <div class="card-container">
            <div class="card image-card" style="--card-image: url('/images/cc_chart_small.jpg');">
                <div class="card-header">චිත්ත සහ චෛතසික සටහන</div>
                <div class="card-body">
                    <h3><a href="/ChiththaChithasika/index.html" target="_blank">ගුරුතුමා විසින් සකස් කරන ලද  චිත්ත සහ
                            චෛතසික චක්‍රය</a></h3>
                </div>
            </div>
            <!-- <div class="card image-card" style="--card-image: url('/images/notes_sample.png');"> -->
            <div class="card">
                <div class="card-header">සියලු දේශනා සඳහා සටහන්</div>
                <div class="card-body">
                    <h3><a href="/documents/NotesForDesana/NotesForDesana.html">දේශනාවල භාවිතා කරන ලද සටහන් සහ
                            පත්‍රිකා</a></h3>
                </div>
            </div>
        </div>
        <div class="section-header">
            <h2>පසුගිය සහ සියලුම දේශනා</h2>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="card-header">පසුගිය සහ සියලුම දේශනා මාලා</div>
                <div class="card-body">
                    <ul>
                        <li><a href="/All_Playlists/SiyaluDesana.html">ගුරුතුමාගේ පසුගිය සහ සියලුම දේශනා මාලා</a></li>
                    </ul>
                </div>
            </div>

            <!-- <div class="card image-card" style="--card-image: url('/images/DVD_Cover_front.jpg');"> -->
            <div class="card">
                <div class="card-header">පරමාර්ථ දේශනා</div>
                <div class="card-body">
                    <ul>
                        <li><a href="/Paramartha_Video/Paramartha_Video.html">පරමාර්ථ ලෝකය දේශනා මාලාව (DVD 10)</a></li>
                        <li><a href="/Paramartha_Video/ParamarthaDharma.html">පරමාර්ථ ධර්ම දේශනා</a></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">අනිච්ච, දුක්ඛ, අනත්ත දේශනා</div>
                <div class="card-body">
                    <ul>
                        <li><a href="Anichcha_Dukka_Anathma_Series/Anichcha_Dukka_Anathma.html"> අනිච්ච, දුක්ඛ, අනත්ත
                                ප්‍රඥප්ති අර්ථය ඉක්මවූ ධර්මතා අර්ථය දේශනා මාලාව</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-header">
            <h2>මෑතකදී අවසන් කරන ලද දේශනා මාලා</h2>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li><a href="/KalutaraBodhiya/K_series/K_series.html">2025 කළුතර බෝධි පරිශ්‍රයේදී පැවැත්වුන
                                නිවන් මග උදෙසා දර්ශන ඥානය දේශනා මාලාව (K Series)</a></li>
                        <li><a href="/KalutaraBodhiya/J_series/J_series.html">2024 කළුතර බෝධි පරිශ්‍රයේදී පැවැත්වුන
                                නිවන් මග උදෙසා දර්ශන ඥානය දේශනා මාලාව (J Series)</a></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li><a href="/NivanMagaUdesaDesana/Thalawathugoda/Thalawathugoda.html">තලවතුගොඩ ගනේලන්ද පුරාණ
                                විහාරස්ථානයේ පැවැත්වුන පැවෙත්වෙන නිවන් මග උදෙසා දර්ශන ඥානය දේශනා මාලාව</a></li>
                        <li><a href="/AbhidharmaAruth/C_series/AbhidharmaAruthC.html">පොල්ගස්ඕවිට පැවැත්වුන නිවන් මග
                                උදෙසා දර්ශන ඥානය දේශනා මාලාව (C කන්ඩායම)</a></li>
                        <li><a href="/AbhidharmaAruth/B2_series/AbhidharmaAruthB2.html">පොල්ගස්ඕවිට පැවැත්වුන නිවන් මග
                                උදෙසා දර්ශන ඥානය දේශනා මාලාව (B කන්ඩායම - දෙවන කොටස)</a></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li><a href="/AbhidharmaSeries/A_series/index.html">තුන්කල්හි වෙනස් නොවන ලොව එකම විශ්ව දර්ශනය
                                දේශනා මාලාව </a> (152 දේශනාවෙන් පසු නිවන් මග උදෙසා දර්ශන ඥානය (A කණ්ඩායම) දේශනා මාලාව
                            සමග ඒකාබද්ධ කරන ලදී.)</li>
                        <li><a href="/NivanMagaUdesaDesana/A_series/index.html ">නිවන් මග උදෙසා දර්ශන ඥානය දේශනා මාලාව
                                (A කණ්ඩායම)</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="disclaimer">
            <p>
                <span style="font-size: 1.0em; font-style: italic;"> මෙම වෙබ් අඩවිය තුළ ඇති දේශනා මාලා සියල්ල <a
                        href="https://www.youtube.com/@waytonibbana" target="_blank">Way to Nibbaana</a> සහ <a
                        href="https://www.youtube.com/@abhidharmaaruth-4152" target="_blank">Abhidharma Aruth</a>
                    YouTube චැනල්වලින් ලබාගෙන ඇත. නව දේශනා පළ කිරීමදී ප්‍රමාද විය හැකි බැවින්, ගුරුතුමාගේ නවතම දේශනා
                    සඳහා, කරුණාකර YouTube නාලිකා වෙත පිවිසෙන්න. </span>
            </p>
        </div>
    </div>
    <!--
    <div class="footer">
        <p>Way to Nibbana - අජන්ත සම්පත් ගුරුතුමන් ගේ දේශනා මාලා</p>
    </div>
-->
</body>
</html>