<html>
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-B9ZTNLS3FQ"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-B9ZTNLS3FQ');
	</script>
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/css/nav_menu.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/scripts/nav_function.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/file_list.css">
	<title>සියලු දේශනා සඳහා සටහන්</title>
</head>
<body> 
	$NAVIGATION_HEADER$ 

	<main>
		<div>
			<h1>සියලු දේශනා සඳහා සටහන්</h1>
			<ul>
				<li>
					<h2>රේරුකානේ චන්දවිමල හිමියන්ගේ පොත්</h2>
				</li>
				<ol>
					<li>අභිධර්ම මාර්ගය පොත <a href="https://tipitaka.lk/library/484" target="_blank">PDF ලෙස</a> හෝ වෙබ් පිටුවක් ලෙස 
						<a href="https://pitaka.lk/books/abhidharma-margaya/index.html" target="_blank"> pitaka.lk වෙතින් </a> හෝ 
						<a href="https://tipitaka.lk/library/463" target="_blank">tipitaka.lk වෙතින් </a></li>
					<li>අභිධර්මයේ මූලික කරුණු පොත <a href="https://www.ogatharana.org/bookDownCounter.php?booknumber=15"
							target="_blank">PDF ලෙස</a> හෝ වෙබ් පිටුවක් ලෙස 
							<a href="https://pitaka.lk/books/abhidharmaye-mulika-karunu/index.html" target="_blank"> pitaka.lk වෙතින් </a> හෝ 
							<a href="https://tipitaka.lk/library/464" target="_blank"> tipitaka.lk වෙතින් </a></li>
					<li> චතුරාර්‍ය්‍ය සත්‍යය පොත <a href="https://www.ogatharana.org/bookDownCounter.php?booknumber=9"
							target="_blank">PDF ලෙස</a> හෝ <a href="https://tipitaka.lk/library/470"
							target="_blank">වෙබ් පිටුවක් ලෙස</a></li>
					<li>පටිච්ච සමුප්පාද විවරණය පොත <a
							href="https://www.ogatharana.org/bookDownCounter.php?booknumber=17" target="_blank">PDF
							ලෙස</a> හෝ <a href="https://tipitaka.lk/library/474" target="_blank">වෙබ් පිටුවක් ලෙස</a>
					</li>
					<li>පොහොය දිනය පොත <a href="https://tipitaka.lk/library/498" target="_blank">PDF ලෙස</a> හෝ <a
							href="https://tipitaka.lk/library/475">වෙබ් පිටුවක් ලෙස</a></li>
					<li>රේරුකානේ චන්දවිමල හිමියන්ගේ සියුලු පොත් සඳහා: <a href="https://www.ogatharana.org/"
							target="_blank">https://www.ogatharana.org/</a> හෝ <a href="https://tipitaka.lk/library/462"
							target="_blank">https://tipitaka.lk/library/462</a></li>
				</ol>
				<li>
					<h2><a href="/documents/SutraPathrika.html">සූත්‍ර පැහැදිලි කිරීමට භාවිතා කරන ලද පත්‍රිකා</a></h2>
				</li>
				<!--
				<li>
					<h2>විවිධ දේශනාවල භාවිතා කරන පත්‍රිකා සහ සටහන්</h2>
					<ol>
						<li><a href="https://drive.google.com/file/d/1YwM41gjwdRgYlT54fb64_iyd_qwr9mVM/view?usp=sharing" target="_blank">පටිච්චසමුප්පාදවිභඞ්ගො නනාවිධ මාතෘකා විවරනය</a>
					</li>
					</ol>
				</li>
			-->
				<li>
					<h2>විශේෂ දේශනා සඳහා භාවිතා කරන ලද පත්‍රිකා</h2>
				</li>
				<ol>
					<li><a href="/documents/pdfs/Kalutara Bodhiya දර්ශන ඥානය (2024-12-22) v2.pdf" target="_blank">
							2024-12-22 පැවෙත් වුන විශේෂ දේශනාවේ පත්‍රිකාව</a></li>
					<li><a href="/VisheshaDesana/docs/2024 08 18  Kalutara Bodhiya දර්ශන ඥානය.pdf" target="_blank"> 2024 08
							18 පැවෙත් වුන විශේෂ දේශනාවේ පත්‍රිකාව</a></li>
					<li><a href="/documents/දර්ශන ඥාණය මූලික සූත්‍ර 01.pdf" target="_blank"> දේශනා සඳහා භාවිතා කරන ලද
							මූලික සූත්‍ර</a></li>
				</ol>
				<li>
					<h2>ගුරුතුමාගේ සිසුවකුගේ ලිපියක්</h2>
					<ol>
						<li>අභිධර්මය (Abhidhamma) මන්දැයි විමසූ විට: <a
								href="/documents/pdfs/අභිධර්මය (Abhidhamma) මන්දැයි විමසූ විට.pdf" target="_blank">PDF
								ලෙස</a> හෝ <a href="/documents/When%20asked%20why%20Abhidhamma.html">වෙබ්
								පිටුවක් ලෙස</a></li>
					</ol>
				</li>
				<li>
					<h2>දේශනා මාලාවකට සම්බන්ධ වීම සඳහා</h2>
				</li>
				<ol>
					<li><a href="/documents/pdfs/Pragna Paramithawa.pdf" target="_blank">ප්‍රඥා පාරමිතාව</a> නව දේශනා
						මාලාවකට සම්බන්ධ වන විට මෙම පත්‍රිකාවේ පිටු A3 පොතක් ලෙස මුද්‍රණය කර පන්තියට රැගෙන එන්න.</h2>
					</li>
					<li>
						<a href="https://waytoni.com/documents/Sabba%20VER%201.01.html" target="_blank">ආර්ය ලෝකය සටහන
							<img src="/documents/NotesForDesana/thumbnails/ආර්ය ලෝකය.png"></a> (සටහන නව ටැබ් [tab] එකක
						විවෘත වේ.)
					</li>

				</ol>
			<li>
					<h2>දේශනා සඳහා භාවිතා කල රූප සටහන්</h2>
				</li>
			</ul>
		</div>
		<section class="resource-section" aria-labelledby="images-heading">
			<!--h2 id="images-heading">දේශනා සඳහා භාවිතා කල රූප සටහන්</h2-->
			<h3 class="category-title">බොහෝ දේශනාවල භාවිතා කල ප්‍රධාන රූප සටහන්</h3>
			<div class="grid-container">
				$MAIN_FOLDER_IMAGES$
			</div>
			<div class="grid-container">
				$GENERAL_FOLDER_IMAGES$
			</div>

			<h3 class="category-title">චිත්ත සහ චෛතසික චක්‍ර විග්‍රහය සඳහා</h3>
			<div class="grid-container">
				$CHITHASIKA_FOLDER_IMAGES$
			</div>

			<h3 class="category-title">චිත්ත වීති විග්‍රහය සඳහා</h3>
			<div class="grid-container">				
			$CHITHTHAVEETHI_FOLDER_IMAGES$	
			</div>
		</section>
	</main>
</body>
</html>