name: Update Abhidhamma Aruth Desana

on:
  push:
    paths:    
      - 'AbhidharmaAruth/D_series/AbhidharmaAruth_D_ytlinks.txt'   
      - 'AbhidharmaAruth/D_series/AbhidharmaAruth_D_notes.txt'  
jobs:
  run-python-script-Abhidhamma-Aruth:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.11 # Python Version

      - name: Update Abhidharma Aruth Desana D seeries
        run: python scripts/gen_series_AbhidharmaAruthD.py
     
      - name: commit changes
        run: |
          git config user.name "$(git log -n 1 --pretty=format:%an)"
          git config user.email "$(git log -n 1 --pretty=format:%ae)"
          git commit -a -m "updated Abhidhamma Aruth Desana D Series"
          git push